<h3>busque seus produtos</h3>

<form action ="/produtos" method="get">
Codigo: <input type="number" name="codigo">
<br><br>
Nome: <input type="text" name="nome">
<br><br>
Preço: <input type="number" name="preco">
<br><br>
Tipo de Evento: <input type="text" name="tipoDeEvento">
<br><br>
<br>
<br><br>
 <button type="submit">Buscar</button>
</form>