<h3>Cadastro de produtos</h3>

<form action ="/produtos" method="POST">
Codigo: <input type="number" name="codigo">
<br><br>
Nome: <input type="text" name="nome">
<br><br>
Preço: <input type="number" name="preco">
<br><br>
Tipo de Evento: <input type="text" name="tipoDeEvento">
<br><br>
Local: <input type="text" name="local">
<br><br>
Data: <input type="date" name="data">
<br>
<p>Descrição:</p> 
<textarea name="descricao"></textarea>
<br><br>
 <button type="submit">Cadastrar</button>
</form>